<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet” href=“app/assets/stylesheets/application.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Best Booking!</title>
  </head>
<body>

<h1>Log In!</h1>

<% if flash[:error] %>
  <li><%= flash[:error] %></li>
<% end %>

<div class="card" style="width: 18rem; background-color:transparent; margin-left:100%;">
  <div class="card-body col text-center"> 
    <%= form_tag "/login" do %>
      <%= label_tag :email %>
      <%= email_field_tag :email %><br>
      <%= label_tag :password %>
      <%= password_field_tag :password %><br>
      <%= submit_tag class: "btn btn-dark" %>
    <% end %>
  </div>
</div>

</body>
</html>